@import "./variables";
@import "./global";

@import "~bulma/bulma";

// custom styles

a {
  text-decoration: none;
}

.link-card {
  display: flex;
  align-items: center;

  .card-content {
    height: 100%;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer {
  margin-top: 2rem;
}
